body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 10px;
    background: url(img/bg-soft.jpg);
    background-size: 100px 100px;
    line-height: 1.5;
}

/* Page */

.page {
    width: 1000px;
    margin: 20px auto;

}

/* Header */

.header {
    background-color: #1f1a1a;
    margin: 0;
}

.header-title {
    color: #d3d3d3;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    margin: 10px auto;

}

.header-subtitle {
    color: #cbcaca;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
    margin: 10px auto 0px;
    padding-bottom: 15px;


}

/* Nav */

.nav {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    background: #fff;
    margin: 0 auto;
    width: 900px;
    border-right: 50px solid;
    border-left: 50px solid;
    border-bottom: 20px solid;
    border-color: #1f1a1a;
}

.nav-link {
    text-decoration: none;
    color: #1f1a1a;
    display: inline-block;
    padding: 8px 12px;
    margin: 0 28px;
}

.nav-link:hover {
    background-color: #d3cfcf;
}

/* Img */

.img-page {
    width: 1000px;
    height: 450px;
    background-color: #d2c8c8;
    padding-top: 12px;
}

/* Content */

.content {
    padding: 10px 15px;
    background-color: #fff;
}

.content-title {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 10px;
    letter-spacing: 3px;
}

.content-text {
    font-size: 18px;
    padding: 5px;
    text-indent: 30px;
}

.content-text span {
    font-weight: bold;
    color: #272727
}



/* News */

.news {
    background: #fff;
    padding: 10px 15px;
}

.news-title {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 10px;
    letter-spacing: 3px;
}

.news-content {
    border-bottom: 1px solid;
    border-color: #c9c9c9;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.news-subtitle {
    font-size: 22px;
    text-align: left;
    margin: 0;
    padding: 0px 0px 5px 0px;
    letter-spacing: normal;
}

.news-subtitle a {
    color: inherit;
    text-decoration: none;
}

.news-subtitle a:hover {
    color: #696969;
}

.news-date {
    padding: 0px 0px 5px 0px;
    font-size: 12px;
    font-weight: bold;
    color: #969696
}

.news-text {
    font-size: 15px;
    padding: 5px 0px;
    text-indent: 20px;
}



/* Footer */
.footer {
    background: #1f1a1a;
    text-align: center;
    padding: 20px;
}

.footer-title {
    font-size: 15px;
    font-weight: bold;

    color: #d3d3d3;
    margin: 0;

}


/* Form */



.form-page {
    width: 360px;
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    color: #121212;
    border: 1px solid;
    border-color: #d0d0d0;

}

.form-field {
    margin-bottom: 40px;
}

.form-title {
    font-size: 18px;
    color: #1784bc;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    background: #fff;
    color: #121212;
    margin-bottom: 40px;
}

.form-input {
    color: #121212;
    background-color: #fff;
    border: 1px solid;
    border-color: #d0d0d0;
    display: block;
    margin-bottom: 20px;
    width: 95%;
    padding: 10px;
}

.form-input-select {
    color: #121212;
    background-color: #fff;
    border: 1px solid;
    border-color: #d0d0d0;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
}

.form-input-radio {
    color: #121212;
    background-color: #fff;
    border: 1px solid;
    border-color: #d0d0d0;
    margin-bottom: 20px;
}

.form-text {
    height: 100px;
    color: #121212;
    background-color: #fff;
    border: 1px solid;
    border-color: #d0d0d0;
    display: block;
    margin-bottom: 20px;
    width: 95%;
    padding: 10px;
}

.form-input-checkbox {
    color: #121212;
    background-color: #fff;
    border: 1px solid;
    border-color: #d0d0d0;
    margin-bottom: 20px;
}

.form-input-button-save {
    background: #97c89a;
    border: #d0d0d0;
    color: #fff;
    padding: 10px 15px;
}

.form-input-button-clear {
    background: #acacac;
    border: #d0d0d0;
    color: #fff;
    padding: 10px 15px;
}
