<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title> One page</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" >
</head>

<body>
    <div class="nav">
        <a class="nav-link" href="/">Return</a>
    </div>
    <div class="form-page">
        <form action="/sign_in-flask" method="post">
            <div class="form-field">
                <div class="form-title">Личные данные</div>
                <div class="form-group">
                    <label for="male">Муж</label>
                    <input type="radio" name="choose-male" class="form-input-radio" id="male">
                    <label for="female">Жен</label>
                    <input type="radio" name="choose-male" class="form-input-radio" id="female">
                    <input type="text" name="name" placeholder="Ваше имя" class="form-input"><input type="email" name="e-mail" placeholder="Ваше e-mail" class="form-input">
                    <input type="tel" name="tel" placeholder="Ваше номер телефона" class="form-input">
                    <input type="living-place" name="living-place" placeholder="Ваше место проживания" class="form-input">
                    <textarea class="form-text"></textarea>
                </div>
                <div class="form-field">
                    <div class="form-title">Безопасность</div>
                    <div class="form-group">
                        <input type="password" name="old-password" class="form-input" placeholder="Старый пароль">
                        <input type="password" name="new-password" class="form-input" placeholder="Новый пароль">
                        <input type="password" name="new-password-again" class="form-input" placeholder="Новый пароль еще раз">


                        <select class="form-input-select" name="secret-question">
                            <option value="" disabled selected class="form-input"> Секретный вопрос</option>
                            <option class="form-input">PPPP</option>
                            <option class="form-input">oooo</option>
                            <option class="form-input">sadasd</option>
                        </select>
                        <input type="text" name="answer" placeholder="Ответ на секретный вопрос" class="form-input">
                    </div>

                </div>
                <div class="form-field">
                    <div class="form-title">Оповещения</div>
                    <div class="form-group">
                        <div>
                            <input type="checkbox" name="get-news" id="get-news" class="form-input-checkbox">
                            <label for="get-news">Получать новости на e-mail</label>
                        </div>
                        <div>
                            <input type="checkbox" name="get-discount" id="get-discount" class="form-input-checkbox">
                            <label for="get-news">Получать информацию о скидках</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="form-input-button-save" type="submit">Сохранить</button>
                        <button class="form-input-button-clear" type="reset">Отменить и очистить</button>
                    </div>
                </div>

            </div>
        </form>
    </div>



</body>

</html>
